.p-u-b-l-i-s-h-e-d-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.p-u-b-l-i-s-h-e-d-p-u-b-l-i-s-h-e-d-p-a-g-e {
  width: 100%;
  height: 1751px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(47, 110, 181, 1);
}
.p-u-b-l-i-s-h-e-d-rectangle3 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1751px;
  position: absolute;
  border-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text {
  top: 131px;
  left: 50px;
  color: rgba(47, 110, 181, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-favorite-f-i-l-l0wght400g-r-a-d0opsz481 {
  top: 1270px;
  left: 481px;
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.p-u-b-l-i-s-h-e-d-group29 {
  top: 3224px;
  left: 771px;
  width: 164px;
  height: 64.00000762939453px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-maskgroup {
  top: 143.6363525390625px;
  left: 50px;
  width: 885px;
  height: 781.3636474609375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-maskgroup1 {
  top: 220.65707397460938px;
  left: 985px;
  width: 150px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 123.39955139160156px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.p-u-b-l-i-s-h-e-d-maskgroup2 {
  top: 532.1880493164062px;
  left: 985px;
  width: 150px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 123.39955139160156px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.p-u-b-l-i-s-h-e-d-maskgroup3 {
  top: 376.4225769042969px;
  left: 985px;
  width: 150px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 123.39955139160156px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.p-u-b-l-i-s-h-e-d-maskgroup4 {
  top: 687.9535522460938px;
  left: 985px;
  width: 150px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 123.39955139160156px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.p-u-b-l-i-s-h-e-d-maskgroup5 {
  top: 843.7190551757812px;
  left: 985px;
  width: 150px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 123.39955139160156px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.p-u-b-l-i-s-h-e-d-maskgroup6 {
  top: 219.8285369873047px;
  left: 50px;
  width: 885px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 748.1714477539062px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 1);
}
.p-u-b-l-i-s-h-e-d-group42 {
  top: 219px;
  left: 1187px;
  width: 683px;
  height: 749px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-group40 {
  top: 0px;
  left: 0px;
  width: 683px;
  height: 749px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.p-u-b-l-i-s-h-e-d-group52 {
  top: 125px;
  left: 50px;
  width: 583px;
  height: 61.17337417602539px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text002 {
  color: rgba(47, 110, 181, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text004 {
  color: rgba(125, 125, 125, 1);
  right: 0px;
  width: 583px;
  bottom: 5px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-group43 {
  top: 192.94024658203125px;
  left: 50px;
  width: 583px;
  height: 52.818359375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text006 {
  left: 0px;
  color: rgba(125, 125, 125, 1);
  width: 583px;
  bottom: 1px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text008 {
  color: rgba(47, 110, 181, 1);
  width: 138px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-group44 {
  top: 267.50885009765625px;
  left: 50px;
  width: 167px;
  height: 52.818359375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text010 {
  left: 1px;
  color: rgba(125, 125, 125, 1);
  width: 68px;
  bottom: -8px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text012 {
  color: rgba(47, 110, 181, 1);
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-group48 {
  top: 267.50885009765625px;
  left: 348px;
  width: 284px;
  height: 52.818359375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text014 {
  color: rgba(125, 125, 125, 1);
  right: -1px;
  width: 284px;
  bottom: -8px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text016 {
  color: rgba(47, 110, 181, 1);
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-group45 {
  top: 340.00006103515625px;
  left: 50px;
  width: 120px;
  height: 52.818458557128906px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text018 {
  left: -1px;
  color: rgb(125, 125, 125);
  width: 68px;
  bottom: -4px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text019 {
  color: rgba(47, 110, 181, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-group49 {
  top: 339.99993896484375px;
  left: 348px;
  width: 175px;
  height: 52.818458557128906px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text021 {
  left: -1px;
  color: rgb(125, 125, 125);
  width: 68px;
  bottom: -14px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text022 {
  color: rgba(47, 110, 181, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-group46 {
  top: 416.64605712890625px;
  left: 50px;
  width: 109px;
  height: 52.818458557128906px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text024 {
  top: 21.188796997070312px;
  color: rgba(125, 125, 125, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text026 {
  color: rgba(47, 110, 181, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-group50 {
  top: 416.64605712890625px;
  left: 348px;
  width: 134px;
  height: 53.279354095458984px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text028 {
  top: 21.64969253540039px;
  color: rgba(125, 125, 125, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text030 {
  top: -0.000010802682481880765px;
  left: 1px;
  color: rgba(47, 110, 181, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text032 {
  top: 584px;
  left: 50px;
  color: rgba(47, 110, 181, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text034 {
  top: 584px;
  left: 349px;
  color: rgba(47, 110, 181, 1);
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-pindrop-f-i-l-l0wght400g-r-a-d0opsz481 {
  top: 200px;
  left: 596px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-group47 {
  top: 489.00006103515625px;
  left: 50px;
  width: 68px;
  height: 52.818458557128906px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text036 {
  color: rgba(125, 125, 125, 1);
  right: -2px;
  width: 68px;
  bottom: -8px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text038 {
  color: rgba(47, 110, 181, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-group51 {
  top: 488.99993896484375px;
  left: 348px;
  width: 79px;
  height: 52.818458557128906px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text040 {
  left: 2px;
  color: rgba(125, 125, 125, 1);
  width: 68px;
  bottom: -8px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text042 {
  color: rgba(47, 110, 181, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text044 {
  top: 264px;
  left: 1231px;
  color: rgba(47, 110, 181, 1);
  width: 288px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text046 {
  top: 844px;
  left: 1237px;
  color: rgba(212, 0, 0, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 39px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text048 {
  top: 844px;
  left: 1536px;
  color: rgba(212, 0, 0, 1);
  width: 168px;
  height: auto;
  position: absolute;
  font-size: 39px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-group39 {
  top: 1088px;
  left: 763px;
  width: 395px;
  height: 68px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(47, 110, 181, 1);
}
.p-u-b-l-i-s-h-e-d-text050 {
  top: 13px;
  left: 160px;
  color: rgba(255, 255, 255, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-group {
  top: 1483px;
  left: 0px;
  width: 1920px;
  height: 268.0293273925781px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-vector {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 268px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-text052 {
  top: 139.1103515625px;
  left: 1497.811767578125px;
  color: rgba(47, 110, 181, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text054 {
  top: 44px;
  left: 1500px;
  color: rgba(47, 110, 181, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-vector01 {
  top: 126.880859375px;
  left: 1444px;
  width: 164px;
  height: 49px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector02 {
  top: 126.880859375px;
  left: 1625.344970703125px;
  width: 164px;
  height: 49px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector03 {
  top: 135.45263671875px;
  left: 1457.222412109375px;
  width: 27px;
  height: 29px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector04 {
  top: 138.1806640625px;
  left: 1646.996826171875px;
  width: 24px;
  height: 28px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-text056 {
  top: 139.1103515625px;
  left: 1685.10302734375px;
  color: rgba(47, 110, 181, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text058 {
  top: 210px;
  left: 1492px;
  color: rgba(47, 110, 181, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text060 {
  top: 210px;
  left: 1596px;
  color: rgba(47, 110, 181, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text062 {
  top: 210px;
  left: 1700px;
  color: rgba(47, 110, 181, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-vector05 {
  top: 36.7607421875px;
  left: 1612.004150390625px;
  width: 30px;
  height: 28px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector06 {
  top: 37.66015625px;
  left: 1657.67529296875px;
  width: 34px;
  height: 26px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector07 {
  top: 39.464599609375px;
  left: 1707.153076171875px;
  width: 37px;
  height: 24px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector08 {
  top: 36.7607421875px;
  left: 1759.482177734375px;
  width: 30px;
  height: 28px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-text064 {
  top: 48px;
  left: 208px;
  color: rgba(47, 110, 181, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-homeawayhomelidaysvacationrentalvrborentingpngfavp {
  top: 28px;
  left: 117px;
  width: 82px;
  height: 82px;
  position: absolute;
  border-color: transparent;
  border-radius: 410px;
}
.p-u-b-l-i-s-h-e-d-text066 {
  top: 76px;
  left: 700px;
  color: rgba(47, 110, 181, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text068 {
  top: 75.9249267578125px;
  left: 901.1658935546875px;
  color: rgba(47, 110, 181, 1);
  width: 96px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text070 {
  top: 75.9249267578125px;
  left: 1094.8878173828125px;
  color: rgba(47, 110, 181, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text072 {
  top: 44.33183670043945px;
  left: 700.2691040039062px;
  color: rgba(47, 110, 181, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text074 {
  top: 44.33183670043945px;
  left: 901.1658935546875px;
  color: rgba(47, 110, 181, 1);
  width: 56px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text076 {
  top: 44.33183670043945px;
  left: 1094.8878173828125px;
  color: rgba(47, 110, 181, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text078 {
  top: 102.25630187988281px;
  left: 700px;
  color: rgba(47, 110, 181, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text080 {
  top: 102.42190551757812px;
  left: 901.1658935546875px;
  color: rgba(47, 110, 181, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text082 {
  top: 102.42190551757812px;
  left: 1094.8878173828125px;
  color: rgba(47, 110, 181, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text084 {
  top: 128.91888427734375px;
  left: 700.2691040039062px;
  color: rgba(47, 110, 181, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text086 {
  top: 128.91888427734375px;
  left: 901.1658935546875px;
  color: rgba(47, 110, 181, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text088 {
  top: 128.91888427734375px;
  left: 1094.8878173828125px;
  color: rgba(47, 110, 181, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text090 {
  top: 155.27804565429688px;
  left: 700px;
  color: rgba(47, 110, 181, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text092 {
  top: 155.41624450683594px;
  left: 901.1658935546875px;
  color: rgba(47, 110, 181, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text094 {
  top: 155.41624450683594px;
  left: 1094.8878173828125px;
  color: rgba(47, 110, 181, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-vector09 {
  top: 241px;
  left: 0px;
  width: 1920px;
  height: 1px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-text096 {
  top: 208.2998046875px;
  left: 158.66665649414062px;
  color: rgba(47, 110, 181, 1);
  width: 309px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text098 {
  top: 210.193359375px;
  left: 140px;
  color: rgba(47, 110, 181, 1);
  width: 7px;
  height: auto;
  position: absolute;
  font-size: 9px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-text099 {
  top: 181.91358947753906px;
  left: 901.1658935546875px;
  color: rgba(47, 110, 181, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-vector10 {
  top: 210px;
  left: 136px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-group1 {
  top: 156.435546875px;
  left: 136px;
  width: 33.86170959472656px;
  height: 20.5985107421875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-vector11 {
  top: 0px;
  left: -0.00008628796058474109px;
  width: 34px;
  height: 21px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector12 {
  top: 8.347380638122559px;
  left: 26.887605667114258px;
  width: 2px;
  height: 3px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-group2 {
  top: 156.435546875px;
  left: 177.975341796875px;
  width: 34.63856887817383px;
  height: 20.603605270385742px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-group3 {
  top: 0px;
  left: 0px;
  width: 34.63856887817383px;
  height: 20.603605270385742px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-vector13 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 21px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-group4 {
  top: 156.435546875px;
  left: 221.024658203125px;
  width: 33.866905212402344px;
  height: 20.5985107421875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-vector14 {
  top: 9.597315788269043px;
  left: 8.99612045288086px;
  width: 18px;
  height: 2px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector15 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 21px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector16 {
  top: 7.8187785148620605px;
  left: 4.446962356567383px;
  width: 18px;
  height: 2px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector17 {
  top: 250.58642578125px;
  left: 1901.3046875px;
  width: 14px;
  height: 11px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector18 {
  top: 246px;
  left: 1897px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-group19 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 100px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.p-u-b-l-i-s-h-e-d-upload-f-i-l-l0wght400g-r-a-d0opsz481 {
  top: 26px;
  left: 1751px;
  width: 50px;
  height: 49px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-favorite-f-i-l-l0wght400g-r-a-d0opsz482 {
  top: 28px;
  left: 1685px;
  width: 49px;
  height: 45px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-text101 {
  top: 29px;
  left: 131.93719482421875px;
  color: rgba(47, 110, 181, 1);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-homeawayhomelidaysvacationrentalvrborentingpngfavp1 {
  top: 9px;
  left: 31.88482666015625px;
  width: 90px;
  height: 82px;
  position: absolute;
  border-color: transparent;
  border-radius: 410px;
}
.p-u-b-l-i-s-h-e-d-person-f-i-l-l0wght400g-r-a-d0opsz481 {
  top: 23px;
  left: 1818px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector19 {
  top: 30px;
  left: 1627px;
  width: 41px;
  height: 42px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-group36 {
  top: 29.38775634765625px;
  left: 1250px;
  width: 353px;
  height: 43.224491119384766px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.p-u-b-l-i-s-h-e-d-text103 {
  top: 13.379039764404297px;
  left: 19.553924560546875px;
  color: rgba(47, 110, 181, 0.5);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.p-u-b-l-i-s-h-e-d-vector20 {
  top: 9.26240062713623px;
  left: 314.9212646484375px;
  width: 22px;
  height: 23px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector21 {
  top: 0px;
  left: 0px;
  width: 353px;
  height: 43px;
  position: absolute;
}
.p-u-b-l-i-s-h-e-d-vector22 {
  top: 251px;
  left: 1768px;
  width: 55px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
