{% extends 'base.html' %}

{% block content %}

<div class="custom-container">
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>

    <div>
        <input type="text" placeholder="address" id="address">
        <br>
        <button onclick="findAddress()">Search</button>
        <div id="results"></div>

        <div id="map" style="height: 90vh;"></div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script>
    var marker = L.marker([0, 0]).addTo(map);
    map.on("click", onMapClick);
</script>

{% endblock scripts %}
