{% extends 'base.html' %}

{% block content %}

<div>
    <div class="listing">
        {% for property in properties%}
            <div class="property-item">
                <h2><a href="{% url 'view-property' pk=property.id %}">{{ property.title }}</a></h2>
                <p>{{ property.description}}</p>
                <p>{{ property.address }}</p>
                <h4>{{ property.price}}</p>
            </div>
        {% endfor %}
    </div>
    <div class="map-container">
        <div class="map" id="map"></div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    fetch_properties()
</script>
{% endblock scripts %}
